/*
 * Page: Login & Register
 * ----------------------
 */

.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
  a {
    color: #444;
  }
  img {
    display: inline;
    margin: -10px 10px 0 0;
    width: 56px;
    height: 56px;
  }
  strong {
    color: #666;
  }
}

.login-page,
.register-page {
  background: #f3f3f3;
}

.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
  @media (max-width: $screen-sm) {
    width: 90%;
    margin-top: 20px;
  }
  .pl-sign-version {
    bottom: 10px;
    color: #999;
    right: 0;
    font-size: 11px;
  }
}

.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #666;
  @include box-shadow(0px 0px 12px rgba(0, 0, 0, 0.05));
  .form-control-feedback {
    color: #777;
  }
}

.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}

.social-auth-links {
  margin: 10px 0;
}
