/*
 * Skin: Green
 * -----------
 */

.skin-green {
  //Navbar
  .main-header {
    .navbar {
      @include navbar-variant($green, #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken($green, 5%);
        }
      }
      @media (max-width: $screen-xs-max) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken($green, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .navbar-brand {
      background: url('/img/logo_white.png') no-repeat 10px 5px;
      padding-left: 65px;
      color: #fff;
    }

    @media (min-width: $screen-xs-max) {
        .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
      }
    }

    li.user-header {
      background-color: $green;
    }
  }

  .nav-stacked {
    > li.active > a,
    > li.active > a:hover {
      border-left-color: $green;
    }
  }
  .nav-tabs-custom {
    > .nav-tabs {
      > li.active {
        border-top-color: $green;
      }
    }
  }

  .box.box-primary {
    border-top-color: $green;
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  @include skin-dark-sidebar($green);

}
