/*
 * Skin: Black
 * -----------
 */

.skin-black {
  //Navbar
  .main-header {
    .navbar {
      @include navbar-variant($black, $white);
      .sidebar-toggle {
        color: $white;
        &:hover {
          background-color: darken($black, 5%);
        }
      }
      @media (max-width: $screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: $white;
              &:hover {
                background: darken($black, 5%);
              }
            }
          }
        }
      }
    }
    //Logo

    .navbar-brand {
      background: url('/img/logo_white.png') no-repeat 10px 5px;
      padding-left: 65px;
      color: $white;
    }

    @media (min-width: $screen-header-collapse) {
        .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
      }
    }

    li.user-header {
      background-color: $black;
    }
  }

  .nav-stacked {
    > li.active > a,
    > li.active > a:hover {
      border-left-color: $orange;
    }
  }
  .nav-tabs-custom {
    > .nav-tabs {
      > li.active {
        border-top-color: $orange;
      }
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  @include skin-dark-sidebar($black);

}
