/*
 * Skin: Yellow
 * ------------
 */

.skin-yellow {
  //Navbar
  .main-header {
    .navbar {
      @include navbar-variant($yellow, #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken($yellow, 5%);
        }
      }
      @media (max-width: $screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken($yellow, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .navbar-brand {
      background: url('/img/logo_white.png') no-repeat 10px 5px;
      padding-left: 65px;
      color: #fff;
    }

    @media (min-width: $screen-header-collapse) {
        .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
      }
    }

    li.user-header {
      background-color: $yellow;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  @include skin-dark-sidebar($yellow);
}
