# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
## These files are text and should be normalized (Convert crlf => lf)
#

# Source code
*.php text
*.css text
*.sass text
*.scss text
*.less text
*.sh text
*.js text
*.json text
*.svg text
artisan text
VERSION text

# server config
.htaccess text
*.example text
*.conf text

# git config
.gitattributes text
.gitignore text
.gitconfig text

# code analysis config
.php_cs text
*.dist text
*.xml text
*.yml text

# misc config
.editorconfig text

# build config
*.npmignore text
*.bowerrc text

# Documentation
*.md text

#
## These files are binary and should be left untouched
#

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.eot binary
*.woff binary

#
## Remove development files from git archive
#

tests/ export-ignore
examples/dev/ export-ignore
.github/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.gitkeep export-ignore
.grumphp.yml export-ignore
.editorconfig export-ignore
.phpci.yml export-ignore
.styleci.yml export-ignore
.codeclimate.yml export-ignore
.php_cs export-ignore
phpcs.xml export-ignore
phpmd.xml export-ignore
phpunit.xml.dist export-ignore
Vagrantfile export-ignore
SCREENSHOTS.md export-ignore
create-release export-ignore

#
## Github config
#

# Remove vendor files from github's language statistics
_all-skins.css linguist-vendored
AdminLTE* linguist-vendored
vendor.scss linguest-vendored
*.less linguist-vendored

# Consider blade files as HTML
*.blade.php linguist-language=HTML
