<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutOutputDuringTests="true"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="true"
         printerClass="DiabloMedia\PHPUnit\Printer\PrettyPrinter"
>
    <testsuites>
        <testsuite name="Deployer Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" lowUpperBound="50" highLowerBound="80" />
        <log type="coverage-html" target="storage/logs/coverage" charset="UTF-8" highlight="true" lowUpperBound="50" highLowerBound="80" />
        <log type="coverage-clover" target="storage/logs/clover.xml" />
        <log type="tap" target="storage/logs/tap.log" logIncompleteSkipped="false" />
    </logging>
    <php>
        <env name="APP_ENV" value="testing" />
        <env name="APP_URL" value="http://localhost" />
        <env name="APP_DEBUG" value="true" />
        <env name="APP_KEY" value="cHKwVTJCF75DKo9bta72ZNrkS6Q0tqYy" />
        <env name="DB_CONNECTION" value="sqlite" />
        <env name="DB_DATABASE" value=":memory:" />
        <env name="CACHE_DRIVER" value="array" />
        <env name="SESSION_DRIVER" value="array" />
        <env name="MAIL_DRIVER" value="log" />
        <env name="QUEUE_DRIVER" value="sync" />
        <env name="BROADCAST_DRIVER" value="log" />
    </php>
</phpunit>
