/*
 * Component: Friendlinks List
 * ------------------------
 */
.links-list {
  list-style: none;
  margin: 0;
  padding: 0;
  > .item {
    @include border-radius($box-border-radius,$box-border-radius,$box-border-radius,$box-border-radius);
    @include box-shadow($box-boxshadow);
    @include clearfix();
    padding: 10px 0;
    background: #fff;
  }
  .link-info {
    margin-left: 5px;
  }
  .link-title {
    font-weight: 600;
  }
  .link-description {
    display: block;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.link-list-in-box > .item {
  @include box-shadow(none);
  @include border-radius(0,0,0,0);
  border-bottom: 1px solid $box-border-color;
  &:last-of-type {
    border-bottom-width: 0;
  }
}
