/*
 * Component: Sidebar
 * ------------------
 */
//Main Sidebar
// ``` .left-side has been deprecated as of 2.0.0 in favor of .main-sidebar ```

.main-sidebar,
.left-side {
  position: absolute;
  top: 0;
  left: 0;
  //min-height: 100%;
  width: $sidebar-width;
  z-index: 810;
  //Using disposable variable to join statements with a comma
  $transition-rule: $transition-speed $transition-fn,
  width $transition-speed $transition-fn;
  @include transition-transform($transition-rule);
  @media (max-width: $screen-xs-max) {
    padding-top: 100px;
  }
  @media (max-width: $screen-xs-max) {
    @include translate(-$sidebar-width, 0);
  }
  .sidebar-collapse & {
    @media (min-width: $screen-sm) {
      @include translate(-$sidebar-width, 0);
    }
  }
  .sidebar-open & {
    @media (max-width: $screen-xs-max) {
      @include translate(0, 0);
    }
  }
}

.sidebar {
  padding-bottom: 10px;

  .brand {
    text-align: center;
    padding: 10px 10px;
    img {
      width: 56px;
      height: 56px;
    }
    h4 {
      color: #fff;
      font-weight: bold;
    }
  }

  .small {
    a { 
      .piplin {
        font-size: 24px !important;
        width: 24px;
      }
    }
  }

  .badge {
    position: absolute;
    float: right;
    right: 0;
    top: 10px;
    margin-top: 3px;
    margin-right: 5px;
  }

  .todo_count {
    cursor: pointer;
  }

  // Sidebar menu
  .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    //First Level
    > li {
      position: relative;
      margin: 0;
      padding: 0;
      > a {
        padding: 12px 5px 12px 15px;
        display: block;
        > .fa,
        > .glyphicon,
        > .piplin {
          width: 36px;
          font-size: 36px;
        }
      }
    }
    li.header {
      padding: 10px 25px 10px 15px;
      font-size: 14px;
    }
    li > a > .fa-angle-left {
      width: auto;
      height: auto;
      padding: 0;
      margin-right: 10px;
      margin-top: 3px;
    }
    li.active {
      > a > .fa-angle-left {
        @include rotate(-90deg);
      }
      > .treeview-menu {
        display: block;
      }
    }
  }
  .bottom-menu {
    position: fixed;
    bottom: 0;
    width: $sidebar-width;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $white;
    text-align: center;
    z-index: 999;
    .user-menu {
      font-size: 12px;
      padding: 10px 10px;
      color: $white;
      margin-bottom: 10px;
      border-bottom: 1px solid $white;
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }
  }
}
