/*!
 *   AdminLTE v2.3.2
 *   Author: Almsaeed Studio
 *   Website: Almsaeed Studio <http://almsaeedstudio.com>
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
!*/

@import "modules/_bootstrap.scss";
// //MISC
// //----
@import "variables";
@import "core";
@import "mixins";
@import "miscellaneous";
// //COMPONENTS
// //-----------
@import "components/header";
@import "components/sidebar";
@import "components/sidebar-mini";
@import "components/control-sidebar";
@import "components/dropdown";
@import "components/forms";
@import "components/progress-bars";
@import "components/small-box";
@import "components/boxes";
@import "components/info-box";
@import "components/timeline";
@import "components/buttons";
@import "components/callout";
@import "components/alerts";
@import "components/navs";
@import "components/products";
@import "components/table";
@import "components/labels";
@import "components/direct-chat";
@import "components/users-list";
@import "components/carousel";
@import "components/modal";
@import "components/panels";
@import "components/social-widgets";
@import "components/log";
@import "components/friend-links";

// //PAGES
// //------
@import "pages/mailbox";
@import "pages/lockscreen";
@import "pages/login_and_register";
@import "pages/404_500_errors";
@import "pages/invoice";
@import "pages/profile";

// //Plugins
// //--------
@import "plugins/bootstrap-social";
@import "plugins/fullcalendar";
@import "plugins/select2";
@import "plugins/tooltip";

// //Miscellaneous
// //-------------
// @import "miscellaneous.less";
@import "print";
@import "skins/all-skins";

@import "fixhub";