
.piplin { display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.piplin-success:before { content: "\f121"; }

.piplin-group:before { content: "\f3ef"; }

.piplin-project:before { content: "\f4dc"; }

.piplin-template:before { content: "\f471"; }

.piplin-environment:before { content: "\f22e"; }

.piplin-server:before { content: "\f228"; }

.piplin-cabinet:before { content: "\f3c9"; }

.piplin-provider:before { content: "\f35c"; }

.piplin-key:before { content: "\f296"; }

.piplin-tip:before { content: "\f451"; }

.piplin-link:before { content: "\f1fe"; }

.piplin-variable:before { content: "\f353"; }

.piplin-command:before { content: "\f271"; }

.piplin-config-file:before { content: "\f12f"; }

.piplin-shared-file:before { content: "\f434"; }

.piplin-hook:before { content: "\f30b"; }

.ion-commit:before { content: "\f33f"; }

.piplin-deploy:before { content: "\f40b"; }

.piplin-build:before { content: "\f102"; }

.piplin-admin:before { content: "\f2ba"; }

.piplin-log:before { content: "\f493"; }

.piplin-pattern:before { content: "\f2e9"; }

//

.piplin-load:before { content: "\f29a"; }

.piplin-save:before { content: "\f2c3"; }

.piplin-user:before { content: "\f47e"; }

.piplin-users:before { content: "\f212"; }

.piplin-warning:before { content: "\f101"; }

.piplin-help:before { content: "\f143"; }

.piplin-clock:before { content: "\f402"; }

.piplin-plus:before { content: "\f217"; }

.piplin-drag:before { content: "\f130"; }

.piplin-chatbox:before { content: "\f3f9"; }

.piplin-edit:before { content: "\f12c"; }

.piplin-delete:before { content: "\f252"; }

.piplin-check:before { content: "\f121"; }

.piplin-close:before { content: "\f129"; }

.piplin-cancel:before { content: "\f306"; }

.piplin-go:before { content: "\f10b"; }

.piplin-rollback:before { content: "\f265"; }

.piplin-refresh:before { content: "\f21c"; }

.piplin-left:before { content: "\f108"; }

.piplin-right:before { content: "\f10b"; }

.piplin-up:before { content: "\f10e"; }

.piplin-down:before { content: "\f105"; }

.piplin-copy:before { content: "\f41b"; }

.piplin-email:before { content: "\f132"; }

.piplin-cube:before { content: "\f318"; }

.piplin-bell:before { content: "\f39b"; }

.piplin-dashboard:before { content: "\f4b0"; }

.piplin-home:before { content: "\f448"; }

.piplin-addon:before { content: "\f2a0"; }

.piplin-disabled:before { content: "\f3a9"; }

.piplin-ping:before { content: "\f268"; }

.piplin-code:before { content: "\f271"; }

.piplin-preview:before { content: "\f133"; }

.piplin-leave:before { content: "\f385"; }

.piplin-checkbox:before { content: "\f373"; }

.piplin-checkbox-blank:before { content: "\f372"; }

.piplin-lock:before { content: "\f200"; }

.piplin-circle:before { content: "\f21b"; }

.piplin-setting:before { content: "\f13d"; }

.piplin-image:before { content: "\f147"; }

.piplin-pin:before { content: "\f2a6"; }

.piplin-logout:before { content: "\f29f"; }

.piplin-info:before { content: "\f44c"; }

.piplin-more:before { content: "\f20b"; }

//
.piplin-github:before { content: "\f233"; }
.piplin-gitlab:before { content: "\f430"; }
.piplin-bitbucket:before { content: "\f2ae"; }
.piplin-amazon:before { content: "\f4d8"; }
.piplin-slack:before { content: "\f219"; }



