
.fixhub { display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.fixhub-success:before { content: "\f121"; }

.fixhub-group:before { content: "\f3ef"; }

.fixhub-project:before { content: "\f4dc"; }

.fixhub-template:before { content: "\f471"; }

.fixhub-environment:before { content: "\f22e"; }

.fixhub-server:before { content: "\f228"; }

.fixhub-provider:before { content: "\f35c"; }

.fixhub-key:before { content: "\f296"; }

.fixhub-tip:before { content: "\f451"; }

.fixhub-link:before { content: "\f1fe"; }

.fixhub-variable:before { content: "\f353"; }

.fixhub-command:before { content: "\f271"; }

.fixhub-config-file:before { content: "\f12f"; }

.fixhub-shared-file:before { content: "\f434"; }

.fixhub-hook:before { content: "\f30b"; }

.ion-commit:before { content: "\f33f"; }

.fixhub-deploy:before { content: "\f40b"; }

.fixhub-admin:before { content: "\f2ba"; }

.fixhub-log:before { content: "\f493"; }

//

.fixhub-load:before { content: "\f29a"; }

.fixhub-save:before { content: "\f2c3"; }

.fixhub-user:before { content: "\f47e"; }

.fixhub-users:before { content: "\f212"; }

.fixhub-warning:before { content: "\f101"; }

.fixhub-help:before { content: "\f143"; }

.fixhub-clock:before { content: "\f402"; }

.fixhub-plus:before { content: "\f217"; }

.fixhub-drag:before { content: "\f130"; }

.fixhub-chatbox:before { content: "\f3f9"; }

.fixhub-edit:before { content: "\f12c"; }

.fixhub-delete:before { content: "\f252"; }

.fixhub-check:before { content: "\f121"; }

.fixhub-close:before { content: "\f129"; }

.fixhub-cancel:before { content: "\f306"; }

.fixhub-go:before { content: "\f10b"; }

.fixhub-rollback:before { content: "\f265"; }

.fixhub-refresh:before { content: "\f21c"; }

.fixhub-left:before { content: "\f108"; }

.fixhub-right:before { content: "\f10b"; }

.fixhub-up:before { content: "\f10e"; }

.fixhub-down:before { content: "\f105"; }

.fixhub-copy:before { content: "\f41b"; }

.fixhub-email:before { content: "\f132"; }

.fixhub-cube:before { content: "\f318"; }

.fixhub-bell:before { content: "\f39b"; }

.fixhub-home:before { content: "\f448"; }

.fixhub-addon:before { content: "\f2a0"; }

.fixhub-disabled:before { content: "\f3a9"; }

.fixhub-ping:before { content: "\f268"; }

.fixhub-code:before { content: "\f271"; }

.fixhub-preview:before { content: "\f133"; }

.fixhub-leave:before { content: "\f385"; }

.fixhub-checkbox:before { content: "\f373"; }

.fixhub-checkbox-blank:before { content: "\f372"; }

.fixhub-lock:before { content: "\f200"; }

.fixhub-circle:before { content: "\f21b"; }

.fixhub-setting:before { content: "\f13d"; }

.fixhub-image:before { content: "\f147"; }

//
.fixhub-github:before { content: "\f233"; }
.fixhub-gitlab:before { content: "\f430"; }
.fixhub-bitbucket:before { content: "\f2ae"; }
.fixhub-amazon:before { content: "\f4d8"; }
.fixhub-slack:before { content: "\f219"; }



