
.fixhub { display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.fixhub-success:before { content: "\f121"; }

.fixhub-group:before { content: "\f3ef"; }

.fixhub-project:before { content: "\f4dc"; }

.fixhub-template:before { content: "\f471"; }

.fixhub-environment:before { content: "\f22e"; }

.fixhub-server:before { content: "\f228"; }

.fixhub-variable:before { content: "\f353"; }

.fixhub-load:before { content: "\f29a"; }

.fixhub-save:before { content: "\f2c3"; }

.fixhub-user:before { content: "\f47e"; }

.fixhub-warning:before { content: "\f101"; }

.fixhub-help:before { content: "\f142"; }

.fixhub-clock:before { content: "\f402"; }