[phpmyadmin]
user = www-data
group = www-data

listen = {{phpmyadmin_fcgi_port}}
listen.allowed_clients = 127.0.0.1

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

catch_workers_output = yes
access.log = /var/log/$pool.access.log
slowlog = /var/log/$pool.log.slow

request_slowlog_timeout = 3s
request_terminate_timeout = 3s

security.limit_extensions = .php

php_admin_value[error_log] = /var/log/phpmyadmin.error.log
php_admin_flag[log_errors] = on
